In [11]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

In [12]:
# path of the file to read
fifa_filepath = "data/fifa.csv"

# read the file into a variable fifa_data
fifa_data = pd.read_csv(fifa_filepath, index_col="Date", parse_dates=True)

In [13]:
fifa_data.head()

             ARG  BRA   ESP   FRA  GER  ITA
Date
1993-08-08   5.0  8.0  13.0  12.0  1.0  2.0
1993-09-23  12.0  1.0  14.0   7.0  5.0  2.0
1993-10-22   9.0  1.0   7.0  14.0  4.0  3.0
1993-11-19   9.0  4.0   7.0  15.0  3.0  1.0
1993-12-23   8.0  3.0   5.0  15.0  1.0  2.0

* `fifa_filepath` - The filepath for the dataset always needs to provided first.
* `index_col="Date"` - When we load the dataset, we want each entry in the first column to denote different row. To do this, we set the value of `index_col` to the name of first column (`"Date"`, found in cell A1 of the file when it's opened in Excel)
* `parse_dates=True` - This tells the notebook to understand the each row label as a date (as opposed to a number or other text with different meaning)

## Examine the data

We print the *first* five rows of the dataset by writing one line of code as follows:

* begin with the variable containting the dataset(in this case, `fifa_data`), and then follow it with `.head()`

In [14]:
fifa_data.head()

             ARG  BRA   ESP   FRA  GER  ITA
Date
1993-08-08   5.0  8.0  13.0  12.0  1.0  2.0
1993-09-23  12.0  1.0  14.0   7.0  5.0  2.0
1993-10-22   9.0  1.0   7.0  14.0  4.0  3.0
1993-11-19   9.0  4.0   7.0  15.0  3.0  1.0
1993-12-23   8.0  3.0   5.0  15.0  1.0  2.0

## Plot the data

In [15]:
# set the width and height of the figure
plt.figure(figsize=(16,6))

# line chart showing how FIFA rankings evolved over time
sns.lineplot(data=fifa_data)